.movie-details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position:relative;
  height: 70%;
  width:80%;
  background-color: whitesmoke;
}

.title{
  text-align: center;
}

.movie-details-img {
  position: relative;
  width:100%;
}

.text-details {
  margin-left: 1em;
}

.details-btn{
  cursor: pointer;
 position:absolute;
 top: 0;
 right: 0;
 border:none;
 padding: 8px;
 background-color: #BBDB9B;
}