body {
  background-color: #0D1B2A;
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&family=Raleway:ital,wght@0,100;0,400;1,200;1,300;1,400&display=swap');

.all-movies-display {
  display: flex;
  justify-content: center;
}

/* rich black: #0D1B2A
Oxford blue: #1B263B
Fern green: #537957
Baby powder: #FDFFFC
Celadon: #BBDB9B */