.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right:10%
}

input#search {
  text-indent: 8%;
  width: 135%;
  height: 2.5em;
  border-radius: 12px;
  border: none;
}

.search-bar-container-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right:10%;
}
.form-btn {
  display:flex;
  align-items: center;
}

.clear-btn {
  cursor: pointer;
  border-radius: 0 12px 12px 0;
  height: 2.7em;
  border: none;
  background-color: #BBDB9B;
  color: #FDFFFC;
}

input#search-btn {
  text-indent: 8%;
  width: 135%;
  height: 2.5em;
  border-radius: 12px 0 0 12px;
  border: none;
}